.App {
  text-align: center;
}

.Weatherapp {
  display: block;
  border: 10px solid;
  border-radius: 30%;
  padding: 20px 60px;
  border-color: gold;
  border-width: 50px;
  border-top: 50px;
  margin-left: 275px;
  margin-right: 275px;
}

.Temperature .temp {
  font-size: 96px;
  color: gold;
  font-style: italic;
  text-align: center;
  font-weight: 300;
  margin-top: -50px;
}

.Temperature .units {
  top: -60px;
  left: 305px;
  position: relative;
}

.Weatherapp .city {
  font-size: 64px;
  color: blue;
  font-style: italic;
  font-weight: 300;
  margin-top: 7px;
}

.Weatherapp ul {
  list-style: none;
}

.Weatherapp li {
  font-size: 20px;
  font-style: italic;
  text-align: right;
  margin-top: -10px;
}

h1 {
  text-align: center;
}

.Search {
  text-align: center;
}

.root {
  text-align: center;
}

a {
  text-align: center;
}

.forecast li {
  text-align: center;
  margin-left: -70px;
  margin-top: 0px;
  border: 5px solid blue;
  border-collapse: collapse;
  border-radius: 10px;
}

small {
  margin-bottom: 10px;
}
