.App {
  text-align: center;
}

.Weatherapp {
  display: block;
  border: 10px solid;
  border-radius: 30%;
  padding: 20px 60px;
  border-color: gold;
  border-width: 50px;
  border-top: 50px;
  margin-left: 275px;
  margin-right: 275px;
}

.Temperature .temp {
  font-size: 60px;
  color: gold;
  font-style: italic;
  text-align: center;
}

.Temperature .units {
  top: -70px;
  left: 305px;
  position: relative;
}

.Weatherapp .city {
  font-size: 50px;
  color: gold;
  font-style: italic;
}

.Weatherapp ul {
  list-style: none;
}

.Weatherapp li {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

h1 {
  text-align: center;
}

.Search {
  text-align: center;
}

.root {
  text-align: center;
}
